// 常用的一些css
.text-center {
  text-align: center;
}

.w-percent {
	width: 100%;
}

.w-half {
	width: 50%;
}

.w-trisector {
	width: 33.3%;
}

.border {
	border: 1px solid #eee;
}

.radius {
	border-radius: 6px;
}

.color-fff {
	color: #fff;
}

.border-box {
	box-sizing: border-box;
}

.over-auto {
	overflow: auto;
}

.over-hidden {
	overflow: hidden;
}
